:root {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
    font-size: 16px;
    font-family: sans-serif;        
}

body{
    background-color: #fff;
    margin:0;
}

body *+* {
    margin-top: 1em;
}

.banner, .calc-body{
    margin: 1em auto;
}
.banner{
    text-align: center;
}
.calc-body
{
    width: 18.75em;
    height: 31.25em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 0.75em;
    margin-left: auto;
    margin-right: auto;
}

.calc-display{
    padding: 0.5em;
    margin: 0.5em;
}

.equation{
    height: 0.5em;
    font-size: 0.6em;
}

.calc-display
{   
    display: flex;
    flex-direction: column;
    text-align: end;
    border:0;
    background-color: #222222;
    color: #fff;
}


.calc-buttons
{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.0625em;
}

.calc-buttons > * 
{
    background-color: inherit;
    padding:0;
    margin:0;
    border:0.03125em solid black;
}


.operation, .result
{
    background-color: #eee;
}

.result
{
    grid-column: -2;
    grid-row: 2 / span 4;
}

