:root {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
    font-size: 16px;
}

body{    
    background-color: #2d34361c;
    margin:0;
    display: flex;
    justify-content: center;
    align-content: center;
}

body *+* {
    margin-top: 1em;
}

.calc-body
{
    width: 18.75em;
    height: 31.25em;
    margin: 1.25em;
    padding: 1em;
    border: 2px solid black;
}

.calc-eq,
.calc-display,
.calc-input{
    padding: 0.5em;
    margin: 0.5em;
}

.calc-eq
{
    text-align: end;
    border: 2px solid green;
}


.calc-display
{   
    text-align: end;
    border: 2px solid red;
}

.calc-input
{
    border: 2px solid paleturquoise;
}

.calc-eq, .equation{
    height: 2.375em;
}